<div class="tableDiv">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="counter">
      <mat-header-cell *matHeaderCellDef mat-sort-header>counter</mat-header-cell>
      <mat-cell *matCellDef="let user" class="counter">{{user.counter}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>userName</mat-header-cell>
      <mat-cell *matCellDef="let user" class="username">{{user.userName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>phone</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.phone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>role</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="loggedin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>loggedin</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.loggedin}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns; let i = index"></mat-row>

  </mat-table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>

<div *ngIf>
  <canvas id="canvas">{{ chart }}</canvas>
</div>